
# PORT=3000
# CITY=H #桃園市
# DISTRICT=13 #復興區
# SECTION=xx段 #xx段
# LANDNO=1000 # 地號

# PUBLIC_BASE_URL=

# # Upstash / Redis
# REDIS_URL=

# # Queue
# QNAME=
# Q_PREFIX= # or prod
# WORKER_CONCURRENCY=1  # 初期建議 1
# HEADLESS=false # 雲端 true；本地除錯可 fa
# #cloudflared_worker url 
# #WORKER_RESULT_URL=https://line-callback-worker.yufangcheng1101.workers.dev/result
# CF_WORKER_URL=

# # Cf worker 門禁 Token
# WORKER_TOKEN=

# # /jobs 門禁 Token（只允許 FastAPI 打 擋「外網亂打 /jobs」）
# NODE_JOB_TOKEN=
# RATE_LIMIT_MAX=

# LINE_USER_ID=
# LINE_CHANNEL_ACCESS_TOKEN=
# LINE_CHANNEL_SECRET=